<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779422460449-0srdkos44sli61ibla2bcbtih8jf3jlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779422460449-0srdkos44sli61ibla2bcbtih8jf3jlv</string>
	<key>API_KEY</key>
	<string>AIzaSyDi_ffL2T0uu9AblHAE1oxvgElPBx1qXRo</string>
	<key>GCM_SENDER_ID</key>
	<string>779422460449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.messaingappios.MessagingAppIOS</string>
	<key>PROJECT_ID</key>
	<string>iosmessagingapp-d2355</string>
	<key>STORAGE_BUCKET</key>
	<string>iosmessagingapp-d2355.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779422460449:ios:8b752f47b4d760d8999160</string>
</dict>
</plist>